:root {
    --panel-bg-color: rgba(14, 35, 63, 0.7); 
    --panel-border-radius: px;
    --panel-transition-duration: 0.7s; 
    --panel-gap: 18px;  
}



.container {
    position: fixed;
    display: flex;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    border-radius: 4px;

    background: rgba(14, 35, 63, 0.7);

    opacity: 0;
}

.sidebar {
    background-color: rgba(45, 55, 72, 0);
    color: #fafafa;
    padding: 10px;
    display: flex;

    flex-direction: column;
  }
  
  .left {
    align-items: flex-start;
  }

  .tab-content {
    flex: 1;
    padding: 10px;
    background-color: transparent; ;

  }

.slide-in {
    opacity: 1;
}

.slide-out {
    opacity: 0;
    pointer-events: none;
}


.editor {
  border-radius: 10px;
  background-color: red;
}