
  
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
  .alert_done {
    display: none;
  }
  .rect_alert {
    display: none;
  }
  .resp_rect {
    display: none;
  }
  .reap {
    display: none;
  }
  .v14_250 {
    width: 411px;
    height: 164px;
    background: url("../images/v14_250.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 83%;
    left: 40%;
    overflow: hidden;
  }
  .v14_KilledByPlayer {
    top: 74%;
  }
  .v14_216 {
    width: 289px;
    color: white;
    position: absolute;
    top: 0px;
    left: 61px;
    text-shadow: rgb(0, 0, 0) 3px 0 10px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .incon {
    color: red;
  }
  .v14_249 {
    width: 411px;
    height: 119px;
    background: url("../images/v14_249.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 0px;
    overflow: hidden;
  }
  .v14_246 {
    width: 411px;
    height: 59px;
    background: rgba(20, 36, 51, 0.55);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 0px;
    overflow: hidden;
  }
  .v14_217 {
    width: 411px;
    height: 59px;
    background: rgba(20, 36, 51, 0.55);
    opacity: 1;
    position: absolute;
    top: 0px;
    z-index: 2;
    left: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .v14_245 {
    width: 188px;
    height: 41px;
    background: url("../images/v14_245.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 11px;
    overflow: hidden;
  }
  .v14_218 {
    width: 188px;
    height: 41px;
    background: linear-gradient(rgba(255,32,32,1), rgba(173,33,33,1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v14_219 {
    width: 155px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 13px;
    left: 16px;
    font-family: Lexend;
    font-weight: SemiBold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
  }
  .v14_219:hover {
    color: rgb(41, 40, 40);
    cursor: pointer;
  }
  .rect_alert {
    width: 188px;
    height: 41px;
    background: linear-gradient(rgb(136, 136, 136), rgba(136, 136, 136));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .alert_done {
    width: 455px;
    color: rgb(22, 22, 22);
    position: absolute;
    top: 13px;
    left: 16px;
    font-family: Lexend;
    font-weight: SemiBold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
  }
  .v14_244 {
    width: 90%;
    height: 60%;
    border-radius: 4px;
    margin: 10px auto;
    background: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .v14_225 {
    width: 90%;
    height: 60%;
    border-radius: 4px;
    z-index: 1;
    margin: 10px auto;
    background: var(--degrade-linear-vert2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resp_rect {
    width: 195px;
    height: 41px;
    background: rgb(41, 129, 33);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .reap {
    width: 103px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 13px;
    left: 46px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 13px;
    opacity: 1;
    text-align: center;
  }
  .reap:hover {
    color: rgb(41, 40, 40);
    cursor: pointer;
  }
  .v14_248 {
    width: 411px;
    height: 60px;
    background: url("../images/v14_248.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v14_215 {
    width: 411px;
    height: 60px;
    background: linear-gradient(0deg, rgba(20, 36, 51, 0.55) 12%, rgba(190,30,30,1) 100%);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v14_224 {
    width: 45px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 190px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 22px;
    opacity: 1;
    text-align: center;
  }
  .v14_233 {
    width: 23px;
    height: 24px;
    background: url("../images/v14_233.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 162px;
    overflow: hidden;
  }
  .v14_241 {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0.5px;
    left: 0px;
  }

  /*
  .killerInformation {
    top: 90%;
    border-radius: 4px;
    position: absolute;
    display: flex;
    width: 411px;
    height: 104px;
    left: 40%;
    animation: 2s gradient-angle infinite linear;
    border: 4px solid transparent;
    background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 30%,
      #c7a03c 33%,
      #584827 40%,
      #584827 50%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  }*/
  .killerInformation {
    top: 90%;
    border-radius: 4px;
    position: absolute;
    display: flex;
    width: 411px;
    height: 104px;
    left: 40%;

    background: rgba(20, 36, 51, 0.55)
  }



  .killerInformation .top {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .killerInformation .top .info {
    display: flex;
    flex-direction: column;
 
    flex-grow: 1;
 }
 @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
  }

  .img {
    display: flex;
 
    overflow: hidden;
    display: flex;
    margin: 20px;
    max-width: 64px;
    max-height: 64px;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;

    border-radius: 50%;

 }

 .imgVip {

    animation: 2s gradient-angle infinite linear;
    border: 2px solid transparent;

    background-image: linear-gradient(#584827, #2d230f),
      conic-gradient(
        from var(--gradient-angle),
        #584827 0%,
        #c7a03c 37%,
        #f9de90 30%,
        #c7a03c 33%,
        #584827 40%,
        #584827 50%,
        #c7a03c 77%,
        #f9de90 80%,
        #c7a03c 83%,
        #584827 90%
      );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
 }

 
.description {
    line-height: 1;

    font-family: 'Kanit', sans-serif;

    font-style: normal;
 }
 
 .description h1 {
    color: rgba(174, 174, 174, 1);
    font-size: 0.65rem;

 }
 .description h1 {
    color: rgba(174, 174, 174, 1);
    font-size: 0.65rem;

 }
 .description h1 {
    color: rgba(174, 174, 174, 1);
    font-size: 0.65rem;

 }
 
 .description h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;

 }
 .textVip {
    text-shadow: #c7a03c 0px 0px 3px;
  
 }
 
 .damage {
    position: relative;
    color: white;
    padding-inline: 0.4rem 4rem;
    padding-block: 0.25rem;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    width: fit-content;
 }
 
 .damage::before {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(
       90deg,
       #b12e4e 0%,
       rgba(177, 46, 78, 0.71) 61.96%,
       rgba(177, 46, 78, 0.26) 77.53%,
       rgba(177, 46, 78, 0) 96.08%
    );
  
    position: absolute;
    z-index: -1;
    inset: 0;
 }
 @keyframes gradient-angle {
    to {
      --gradient-angle: 1turn;
    }
  }
 .killerInformation .img img {

    height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
 }