@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    box-sizing: border-box;
}

.ui {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 145.5vh;

    bottom: 3vh;
    color: white;
}

.ui2 {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 143vh;
    display: flex;
    gap: 5px;
    flex-direction: column;
    bottom: 3vh;
    color: white;
}




.armour {
    font-family: 'Exo', sans-serif;
    margin-top: 5px;
    width: 320px;
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    border-radius: 4px;
    background-color: rgba(20, 36, 51, 0.55);
    color: rgb(7, 7, 7);
}


.armour > #armour-level {
    border-radius: 4px;
    height: 90%;
    margin-bottom: 8px;
    /*height: 15px;*/
    padding-top: 7px;
    background: var(--degrade-radial-bleu2-inverse);
}


.carre-armour {
    font-family: 'Exo', sans-serif;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    display: flex; /* Nécessaire pour align-items */
    align-items: center;
    justify-content: center; /* Optionnel, pour centrer horizontalement */
    background-color: rgba(20, 36, 51, 0.55);
    color: rgb(7, 7, 7);
}
.carre-armour img {
    height: 16px;
}

.logo-armour img {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    right: 362;
    bottom: 127px;
    color: white;
    position: absolute;
}

.carre-health {
    font-family: 'Exo', sans-serif;
    width: 20px;
    height: 20px;
        display: flex; /* Nécessaire pour align-items */
    align-items: center;
    justify-content: center; /* Optionnel, pour centrer horizontalement */
    border-radius: 4px;
    background-color: rgba(20, 36, 51, 0.55);
    color: rgb(7, 7, 7);
}

.carre-health img {
    height: 20px;
}
.logo-plus img {
    height: 18px;
    width: 19px;
    margin-bottom: -25px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    right: 362;
    bottom: 127px;
    color: white;
    position: absolute;
}



.logo-armour > #logo-armour-level {
    height: 50px;
    padding-top: 0px;
    display: inline;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(86, 160, 230, 0.7);
}

.health {
    font-family: 'Exo', sans-serif;
    margin-top: 5px;
    width: 320px;
    height: 20px;
    
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    background-color: rgba(020, 36, 51, 0.55);
    color: white;
}

.health > #health-level {

    border-radius: 4px;
    height: 90%;
    margin-bottom: 8px;
    /*height: 15px;*/
    padding-top: 7px;
    background: var(--degrade-radial-rouge);
}